body
{
	background-color: transparent !important;
	width: calc(100vw);
	height: calc(100vh);
}

.debugFooter
{
	font-family: Consolas, monaco, monospace;
    font-size: 0.7em;
	background-color: gray;
    overflow: auto;
    position: fixed;
	min-height: 10px;
    max-height: 100px;
    bottom: 0;
}